<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
			Willkommen bei Uns
			</h1>
			<h2 class="subtitle">
			Eine kleine Projektmanagement-App mit Ruby on Rails gebaut
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Softwareentwicklung mit SCRUM und Kanban
					</h3>
					<p>Softwareentwicklung Stück für Stück: Conlance setzt in puncto Projektmanagement auf die Methoden SCRUM und Kanban. Dabei werden Software-, App- oder Web-Projekte in „Sprints“ untergliedert: Innerhalb ein- bis zweiwöchiger Sprints werden stets neue Ziele definiert, aktuelle Ergebnisse mit dem Kunden besprochen und Lösungen getestet. Ihr Vorteil: Verbesserungen können so frühzeitig angegangen werden – für höchste Flexibilität und Kostenersparnisse in der Softwareentwicklung.</p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4">Registrieren</h4>
				<%= link_to 'Registrieren', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section